@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;0,700;0,800;1,600&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* font-size: 62.5%; */
}

body{
    max-width: 1440px;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 10px 10px;
    overflow: hidden;
}

/* Navbar */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 3rem;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
gap: 4rem;
}

li{
    list-style: none;
    font-weight: 1000;
    font-size: 20px;
}

li:nth-child(1){
    color: green;
}

.logo:hover{
    cursor: pointer;
}

li:hover{
    cursor: pointer;
}

/* Main Section */

main{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.left-section{
    width: 49%;
    position: relative;
    bottom: 400px;
    left: 40px;
    margin-top: 25rem;
}

.topangle{
    
}

.bottomangle{
    position: relative;
    left: 530px;
    top: 40px;
}

.mouse{
    position: relative;
    bottom: 930px;
    left: 300px;
}

button{
    background-color: #047a23;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 25px;
    padding: 14px 32px;
    position: relative;
    bottom: 950px;
    margin-bottom: 1rem;
    
}


section h1{
    font-size: 4.4rem;
    line-height: 5rem;
    /* padding: 10px; */
}

section p{
    color: #6e706f;
    margin-top: 20px;
    /* padding: 10px */
}

.stetho{
    position: relative;
    bottom: 500px;
    /* width: 100%; */
}


/* Right Section */

.right-section{
width: 49%;
margin-left: 1rem;
}


.greenbox{
    height: 450px;
    position: relative;
    bottom: 200px;
    left: 170px;
}

.yellowbox{
    position: relative;
    bottom: 620px;
    left: 210px;
    /* top: 20px; */
    height: 400px;
}
.doctor{
    position: relative;
    bottom: 1100px;
    left: 250px;
    height: 500px;
    width: auto;
}

